a {
  color: #3d6a82;
}
a:visited {
  color: #3c93b8;
}
a:hover {
  color: #78b7d6;
  text-decoration: none;
}
a:active {
  color: #0000ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 600 normal 13px/1.3 "Signika", Helvetica, Arial, sans-serif;
  color: #666666;
  margin: 0 0 0.5em 0;
}
img {
  max-width: 100%;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
}
nav {
  margin: 0;
  padding: 0;
}
nav > menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav > menu > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav > menu > li > a:hover {
  text-decoration: none;
}
article h1 {
  font-size: 32px;
  color: #516b79;
}
article h1.secondary {
  color: #d7ddb5;
}
article h2 {
  font-size: 20px;
  color: #5e5e5e;
}
article h2.secondary {
  color: #a4bfb3;
}
article h2.tertiary {
  color: #84979f;
}
article h3 {
  font-size: 16px;
}
article h4 {
  font-size: 14px;
}
article h4, article h5, article h6 {
  text-transform: uppercase;
}
article p {
  font-size: 12px;
}
article p big {
  font-size: 14px;
}
article p small {
  font-size: 10px;
}
article blockquote {
  font: normal normal 16px/1.5 Georgia, "Times new roman", serif;
  quotes: '“' '”' '“' '”';
  margin: 0 0 .5em 0;
}
article blockquote > p {
  font-size: 16px;
}
article blockquote > p::before {
  content: '“';
}
article blockquote > p::after {
  content: '”';
}
article blockquote > p::before, article blockquote > p::after {
  font-size: 48px;
  color: #bbb;
  line-height: 0;
  position: relative;
  bottom: -24px;
}
article blockquote > p.author {
  color: #999;
  font-size: 12px;
  font-style: italic;
}
article blockquote > p.author::before, article blockquote > p.author::after {
  content: "";
  content: none;
}
article blockquote.pullquote {
  float: left;
  width: 30%;
  margin: 0 2em 2em 2em;
}
article blockquote.pullquote p {
  margin-top: 0;
}
ul {
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAICAYAAAA1BOUGAAAATUlEQVR42oWPsQ0AIAgEWYEVHM4VnIUV3MANLGwtnUWBYDRRY3Eh91cBqWYBGc8Eu7rPUJg+MUeJpMMJwZKTb4yPGCU6pu3B3F1fMYcByoypqjBGQiYAAAAASUVORK5CYII=");
  *list-style-image: url("img/bg_bullet.png");
}
